@import url("https://raw.githubusercontent.com/KrstlSkll69/vc-snippets/main/OtherStuff/RecolorAddFriendsTab.css");
@import url("https://raw.githubusercontent.com/Dyzean/Tokyo-Night/main/themes/tokyo-night.user.css");
@import url("https://raw.githubusercontent.com/ColynOrg/CSS-Snippets/main/UsernameSymbol.css");
@import url("https://raw.githubusercontent.com/KrstlSkll69/vc-snippets/main/StageRecolor.css");

@font-face {
  font-family: "toki pona";
  src: local("fairfax hd");
  unicode-range: U+F1900-F19FF;
  font-size: 18px;
}

@font-face {
  font-family: "toki pona code";
  src: local("nasin-nanpa");
  unicode-range: U+F1900-F19FF;
  font-size: 18px;
}

:root {
    --font-primary: "gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif, "toki pona";
    --font-display: "gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif, "toki pona";
    --font-headline: "ABC Ginto Nord", "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif, "toki pona";
    --font-code: 'gg mono', 'Source Code Pro', Consolas, 'Andale Mono WT', 'Andale Mono', 'Lucida Console', 'Lucida Sans Typewriter', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Liberation Mono', 'Nimbus Mono L', Monaco, 'Courier New', Courier, monospace, "toki pona code";
}

.timestampInline__430cf {
    visibility: hidden;
}

.message_ccca67:hover .timestampInline__430cf {
    visibility: visible;
}

.messageGroupWrapper__1fce2:hover .timestampInline__430cf {
    visibility: visible;
}

.messageContainer_cb3d47:hover .timestampInline__430cf {
    visibility: visible;
}

.message__7e601:hover .timestampInline__430cf {
    visibility: visible;
}

[class*=userPopoutOuter_] {
    border-radius: var(--radius-sm);
    overflow: hidden;
}

[class*=channelTextAreaDisabled] {
    display: none!important;
}

/* .markup:not(code) {
  font-size: 8px!important;
} */

/*moves vc hang status to the left*/
[class*=iconGroup]:has([class*=hangStatusIcon], [d*='M13 3a1'], [class*=gameIcon]) {
  display: flex;
  position: absolute;
  right: 101%;
}
[class*="clanTagChiplet_"] > [class*="text_"] {font-size: 0}
[class*="chipletContainerInner_"] {display: inline; padding: 0 2px 0 4px;}
[class*="clanTag"] > [class*="clickable"] > [class*="chipletContainerInner_"] {padding: 0 4px !important;}


[class*=userPopoutOverlayBackground] {
  max-height: 60vh;
}

@import url("https://minidiscordthemes.github.io/Snippets/ForumImprovements/main.css");

/* Match Send Friend Request Button color with the Profile Color */
.custom-profile-theme [aria-label="Send Friend Request"] button {
 background-color: var(--profile-gradient-button-color);
 transition: opacity .2s ease-in-out;
}

/* Unclamp bio length in user popout */
[class^="userPopoutInner_"] [class^="descriptionClamp_"] {
    -webkit-line-clamp: unset;
    max-height: unset;
    &+[class^="viewFullBio_"] {
        display: none;
    }
}

/* Unclamp status bubble size in user popout */
[class^="userPopoutInner_"] [class^="statusBubble_"] [class*="clamp_"] {
    -webkit-line-clamp: unset;
    max-height: unset!important;
}

/* Match Status Bubble color with Profile Primary Color */
.custom-profile-theme [class^=statusBubble_] {
  background-color: var(--profile-gradient-primary-color);
}
.custom-profile-theme [class^=statusBubbleOuter_]:before {
  background-color: var(--profile-gradient-primary-color);
}
.custom-profile-theme [class^=statusBubbleOuter_]:after {
  background-color: var(--profile-gradient-primary-color);
}

/* Make Delete/Logout Buttons Red */
[class^=item_][data-tab-id="DELETE"],
[class^=item_][data-tab-id="logout"] {
    color: var(--info-danger-foreground) !important;
}
[class^=item_][data-tab-id="DELETE"]:hover,
[class^=item_][data-tab-id="logout"]:hover {
    background-color: var(--info-danger-background) !important;
}

h3.membersGroup_cbd271.container_a5ad5c:has(span.headerContainer_bc6acb) {
    display: none;
}
